.footer {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    position: relative;
    margin: var(--layout-padding);
    height: calc(100dvh - 2 * var(--layout-padding));
}

.footer .footer__heading {
    text-shadow: 2px 2px 0px var(--secondary-color);
    text-align: center;
}