.footer {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    position: relative;
    padding: var(--layout-padding);
    height: 100dvh;
}

.footer .footer__heading {
    text-shadow: 2px 2px 0px var(--secondary-color);
    text-align: center;
}