.header {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    position: relative;
    margin: var(--layout-padding);
    height: calc(100dvh - 2 * var(--layout-padding));
}

.header__theme-menu {
    justify-self: end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 11.5px;
}

.header__theme-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 13px;
    height: 26px;
    color: var(--secondary-color);
    border: 1px solid transparent;
    background: none;
    text-transform: lowercase;
    user-select: none;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    border: 1px solid rgb(from var(--secondary-color) r g b / 50%);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--secondary-color);
}

.header__theme-menu-button_active {
    border: 1px solid var(--secondary-color);
    pointer-events: none;
}

@media (width > 768px) {
    .header {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

    .header__theme-menu {
        grid-column: 2;
    }

    .header__heading {
        grid-column: 1 / span 2;
    }

    .header__title {
        grid-column: 2;
    }
}

@media (width > 1024px) {
    .header__theme-menu {
        grid-column: 1 / span 2;
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }
}
