.content__article_gallery {
    display: flex;
    flex-direction: column;
    gap: var(--gallery-gap);
}

.content__article_gallery-section {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--gallery-gap);
}

.content__gallery-image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

@media (width > 768px) {
    .content__article_gallery-section {
        grid-template-columns: 1fr minmax(min-content, 1fr) 1fr;
        grid-template-rows: 1fr min-content 1fr;
        grid-auto-flow: dense;
    }
    
    .content__gallery-image {
        object-fit: cover;
    }

    .content__gallery-image:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .content__gallery-image:nth-child(2) {
        grid-column: 3;
        grid-row: 1 / span 2;
    }

    .content__gallery-image:nth-child(3) {
        grid-column: 1;
        grid-row: 2 / span 2;
    }

    .content__gallery-image:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
        aspect-ratio: 1;
        min-width: 230px;
        object-fit: contain;
    }
    
    .content__gallery-image:nth-child(5) {
        grid-column: 2 / span 2;
        grid-row: 3;
    }
}